{% extends 'base.html' %}
{% block content %}

{% for msg in get_flashed_messages() %}
<div>{{msg}}</div>
{% endfor %}

{% for info in user %}
<div>
    {{info.username}}
    {{% info.email %}}
    {{% info.first_name %}}
    {{% info.last_name %}}
</div>
{% endfor %}
{% for feedback in all_feedback %}
<li>
    {% feedback.title %} - {% feedback.content %}
</li>

<form>
    {{form.hidden_tag()}}
    <button class="btn btn-primary"
            formmethod="GET"
            formaction="/feedback/{{ feedback.id }}/update">
      Edit
    </button>
    <button class="btn btn-danger"
            formmethod="POST"
            formaction="/feedback/{{ feedback.id }}/delete">
      Delete
    </button>
  </form>
{% endfor %}
{% endblock %}